@font-face {
    font-family: 'Atlas Grotesk Web Regular Regular';
    src: url('https://db.onlinewebfonts.com/t/0a5fbb91dc4a457f5945dca11d44517d.eot');
    src: url('https://db.onlinewebfonts.com/t/0a5fbb91dc4a457f5945dca11d44517d.eot?#iefix') format('embedded-opentype'),
         url('https://db.onlinewebfonts.com/t/0a5fbb91dc4a457f5945dca11d44517d.woff2') format('woff2'),
         url('https://db.onlinewebfonts.com/t/0a5fbb91dc4a457f5945dca11d44517d.woff') format('woff'),
         url('https://db.onlinewebfonts.com/t/0a5fbb91dc4a457f5945dca11d44517d.ttf') format('truetype'),
         url('https://db.onlinewebfonts.com/t/0a5fbb91dc4a457f5945dca11d44517d.svg#Atlas Grotesk Web Regular Regular') format('svg');
}

@font-face {
    font-family: 'PortraitLight';
    src: url('https://db.onlinewebfonts.com/t/6d126d1cf218a43fb9548319f5824445.eot');
    src: url('https://db.onlinewebfonts.com/t/6d126d1cf218a43fb9548319f5824445.eot?#iefix') format('embedded-opentype'),
         url('https://db.onlinewebfonts.com/t/6d126d1cf218a43fb9548319f5824445.woff2') format('woff2'),
         url('https://db.onlinewebfonts.com/t/6d126d1cf218a43fb9548319f5824445.woff') format('woff'),
         url('https://db.onlinewebfonts.com/t/6d126d1cf218a43fb9548319f5824445.ttf') format('truetype'),
         url('https://db.onlinewebfonts.com/t/6d126d1cf218a43fb9548319f5824445.svg#PortraitLight') format('svg');
}

body {
    font-family: 'Atlas Grotesk Web Regular Regular', Arial, sans-serif;
    text-align: center;
    background-image: url('https://www.qu.edu/494417/globalassets/global/media/qu/logos-graphics/0_university-wide/digital-backgrounds/quinnipiac-virtual-background_8.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    margin: 0;
    color: #0c2340;
}

.countdown {
    background-color: #FFF;
    max-width: 400px;
    padding: 40px;
    border: 1px solid #FFF;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 48px;
    color: #0c2340;
    font-family: 'PortraitLight', Arial, sans-serif;
}

#countdown-display {
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

span {
    padding: 20px;
    background-color: #FFD100;
    color: #0c2340;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.countdown p {
    font-size: 32px;
    margin-top: 20px;
    color: #0c2340;
}