body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    background-color: #007849;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #002E5D;
}

.countdown {
    background-color: #FFFFFF;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #888888;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    color: #002E5D;
}

#countdown-display {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

span {
    padding: 10px;
    background-color: #FFD100;
    color: #002E5D;
    border-radius: 5px;
}

.countdown p {
    font-size: 16px;
    margin-top: 10px;
    color: #555;
}